@charset "UTF-8";
body {
  font-size: 14px;
  font-family: "Heebo", sans-serif;
  overflow-x: hidden !important;
  color: #3120a9;
}

a {
  cursor: pointer !important;
}

svg {
  -webkit-filter: drop-shadow(0 5px 5px rgba(1, 1, 1, 0.2));
  filter: drop-shadow(0 5px 5px rgba(1, 1, 1, 0.2));
}

nav {
  background-color: #3120a9;
  padding: 0.5rem 1rem !important;
}

nav span:focus {
  outline: none !important;
}

nav .navbar-toggler-icon {
  width: 32px !important;
  height: 32px !important;
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/w_auto,f_auto,q_auto/v1598163563/OLLORUN_IMAGES/images/elements/ham_y9sttw.svg) no-repeat !important;
  background-size: cover !important;
}

nav .navbar-brand img {
  width: 124px;
}

nav ul li a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 1rem;
}

nav ul li a:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

nav ul .join-btn {
  background-color: #e52564;
  padding: 0.4rem 3rem !important;
  border-radius: 4px;
}

.logo img {
  margin-top: 9rem;
  width: 9rem;
}

.logo .logo-data {
  text-align: center;
}

.logo .logo-data h4 {
  font-size: 1.5rem;
  margin-top: 1rem;
  opacity: 0.4;
}

.sec-1 {
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/w_1200,f_auto,q_auto/v1598163590/OLLORUN_IMAGES/images/img/BG/BG_01_ollorun_aj28ez.png) no-repeat;
  background-size: cover;
  height: 75vh;
  width: 100vw;
  position: relative;
}

.sec-1 .slider-1 {
  height: 50vh;
  position: absolute;
  top: 24rem !important;
}

.sec-1 .slide img {
  width: 80%;
  border-radius: 25px;
}

.sec-2-img-1 {
  height: 75vh;
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/w_auto,f_auto,q_auto/v1598163494/OLLORUN_IMAGES/images/img/BG/BG_02_ollorun_yxijgr.jpg) no-repeat;
  background-size: cover;
  background-position-y: 0;
}

.sec-2-img-1 .products-header {
  position: relative;
  top: 50%;
}

.sec-2-img-1 .products-header h5 {
  color: white;
  position: absolute;
  font-weight: 400;
  top: 20%;
}

.sec-2-img-1 .products-header .product-packages {
  margin-top: 8rem;
}

.sec-2-img-1 .products-header .product-packages .product-package {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  padding: 1.3rem 2.5rem;
  width: 100%;
  text-align: center;
}

.sec-2-img-1 .products-header .product-packages .product-package img {
  width: 70%;
}

@media screen and (max-width: 576px) {
  .sec-2-img-1 .products-header .product-packages .product-package img {
    width: 100%;
  }
}

.sec-2-img-1 .products-header .product-packages .product-package:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.w-selected {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: #3120a9;
}

.h-selected {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: linear-gradient(95deg, #3ffcdc 0%, #2d95f7 88%);
}

.sec-2-img-2 {
  background-size: cover;
  background-position-y: -9rem;
  height: 70vh;
}

.sec-3 {
  margin-top: 1rem;
}

.sec-3 h5 {
  color: #e52564;
  font-weight: 400 !important;
  text-align: center;
  margin-top: 5%;
}

.sec-3 .package {
  margin-top: 1rem;
  color: #3120a9;
  background-color: white;
  padding: 1rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  border-radius: 0.3rem;
}

.sec-3 .package .dot {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin: 0 !important;
  border: 1px solid #e52564;
}

.sec-3 .package .dot:hover {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: #e52564;
}

.sec-3 .package .package-name {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #e52564;
  font-family: "Oswald", sans-serif;
}

.sec-3 .package .select-button {
  width: 100%;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
  border-radius: 0.2rem;
  background: linear-gradient(95deg, #e6cd6b 0%, #837241 88%);
  color: white;
  letter-spacing: 0.1rem;
}

.sec-3 .package .select-button:hover {
  cursor: pointer !important;
}

.sec-3 .package .package-data {
  padding: 0;
  font-size: 0.8rem;
}

.sec-3 .package .package-data .yearprofit,
.sec-3 .package .package-data .o-rate {
  float: right;
}

.sec-3 .color-dot {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: #e52564;
}

.sec-3 .range-wrap h5 {
  text-align: left;
  margin: 2rem 0;
  color: #3120a9;
}

.sec-3 .range-wrap .range-slider {
  -webkit-appearance: none;
  width: 100%;
  background: rgba(42, 7, 196, 0.151);
  border: 1px solid #3120a9;
  border-radius: 25px;
  height: 15px;
  -webkit-animation: 1s gradient ease infinite !important;
  animation: 1s gradient ease infinite !important;
}

.sec-3 .range-wrap .range-slider:hover {
  cursor: pointer;
}

.sec-3 .range-wrap .range-slider:focus {
  outline: none;
}

.sec-3 .range-wrap .range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  background-color: #f7f7f7;
  border: 1px solid #e52564;
  width: 35px;
  height: 35px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}

.sec-3 .range-wrap .range-slider::-moz-range-thumb {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #e52564;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}

.sec-3 .yearstats .days {
  background: linear-gradient(95deg, #e6cd6b 0%, #837241 88%);
  padding: 0 1rem;
  border-radius: 25px;
  text-align: center;
}

.sec-3 .yearstats .days h6 {
  color: white;
  margin-top: 0.5rem;
}

.sec-3 .yearstats .percentage h3 {
  color: #e52564;
  text-align: center;
  margin-top: 1rem;
}

.sec-3 .yearstats .stat {
  font-weight: 500;
  margin: 1rem 2rem;
}

.sec-3 .yearstats .stat .stat-data {
  margin-top: 0.1rem;
}

.sec-3 .yearstats .stat .stat-data .data-name {
  float: left;
}

.sec-3 .yearstats .stat .stat-data .value {
  float: right;
}

.sec-3 .yearstats .stat .stat-data .doller-value::before {
  content: "€";
}

.packs {
  background-position: bottom;
  background-size: cover;
  padding: 2rem;
  margin-top: 5rem;
}

.packs .pack {
  margin-top: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.packs .pack:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 9999999 !important;
}

.product-packs .pack {
  position: relative;
  padding: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 576px) {
  .product-packs .pack {
    padding: 0;
  }
}

.product-packs .pack span {
  font-weight: 600;
}

.product-packs .w-packs img {
  width: 40% !important;
}

.product-packs .h-packs img {
  width: 100% !important;
}

.product-packs a {
  text-decoration: none;
}

.sec-4 {
  padding: 0 1rem;
  margin-top: 3rem;
  text-align: center;
}

.sec-4 h6 {
  margin-bottom: 3rem;
  color: #e52564;
}

.sec-4 img {
  width: 100%;
  margin-top: 5rem;
  margin-left: 1rem;
}

.sec-5 {
  margin: 4rem 0;
  background-color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
          box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
}

.sec-5 h6 {
  color: #e52564;
}

.sec-5 img {
  width: 100%;
}

.sec-6 {
  overflow-x: hidden !important;
}

.sec-6 h6 {
  color: #e52564;
}

.sec-6 span {
  font-weight: bold;
}

.sec-6 img {
  width: 45%;
  height: 70%;
  margin-left: 4rem !important;
}

.sec-7 h6 {
  color: #e52564;
}

.sec-7 a {
  background-color: #e52564;
  color: white;
  padding: 1rem 4rem;
  border-radius: 4px;
  font-size: 18px;
}

.sec-7 p {
  font-size: 14px;
}

.sec-7 .why img {
  width: 72px;
}

.sec-8 {
  margin-top: 4rem;
  background-color: white;
  padding: 3rem 0;
}

.sec-8 h6 {
  color: #e52564;
}

.sec-8 .w-packs,
.pil-packs {
  text-align: center;
}

.sec-8 .w-packs .pack,
.pil-packs .pack {
  margin-top: 1rem;
}

.sec-8 .w-packs .pack img,
.pil-packs .pack img {
  margin-bottom: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sec-8 .w-packs .pack img:hover,
.pil-packs pack img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sec-8 .w-packs .price,
.pil-packs .price {
  color: #e52564;
}

.sec-8 .h-packs {
  text-align: center;
}

.sec-8 .h-packs .pack {
  margin-top: 1rem;
}

.sec-8 .h-packs .pack img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sec-8 .h-packs .pack img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sec-8 .h-packs .price {
  color: #e52564;
}

.pil-packs {
  overflow-x: hidden !important;
  background: url(https://res.cloudinary.com/dmeppscpx/image/upload/f_auto,q_auto,w_1600/v1617524525/BG_PIL_01_idj1ln.png) no-repeat;
  font-weight: 600;
  background-position: center;
  background-size: cover;
  padding: 4rem 0;
}

.pil-packs h4 {
  color: white;
}

.pil-packs a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none !important;
  color: white;
}

.pil-packs .pack img {
  width: 75%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pil-packs .pack img:hover {
  -webkit-transform: scale(1.1) translateZ(0);
          transform: scale(1.1) translateZ(0);
}

.pentagons {
  width: 90%;
}

.pentagons .lg-only {
  display: none;
}

.pentagons .mobile-only {
  display: block;
}

.pentagons .mobile-only h6 {
  color: #e52564;
}

.sec-9 {
  margin-top: 5rem;
  text-align: center;
}

.sec-9 h6 {
  font-weight: bold;
}

.sec-9 .topic {
  color: #e52564;
}

.sec-9 h1 {
  text-align: center;
  color: #e52564;
  font-weight: 100;
}

.sec-10 {
  margin-top: 4rem;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
          box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  padding: 3rem;
}

.sec-10 h6 {
  color: #e52564;
}

.sec-10 p {
  font-size: 0.8rem;
}

.sec-10 .last-p {
  margin: 0 !important;
}

.sec-10 .main-img {
  width: 100%;
}

.sec-10 .socials {
  margin: 0 0.3rem;
  width: 24px;
  height: 24px;
}

.sec-11 {
  margin-top: 5rem;
}

.sec-11 h6 {
  text-align: center;
  color: #e52564;
}

.sec-11 .members {
  text-align: center;
}

.sec-11 .members .member {
  margin-top: 1rem;
}

.sec-11 .members .member .name {
  color: #3120a9;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.sec-11 .members .member img {
  width: 100%;
  max-width: 75%;
  margin-bottom: 1rem;
}

.sec-11 .members .member .info {
  font-size: 12px;
  min-height: 55px !important;
}

.sec-11 .members .member a {
  margin: 0 0.3rem;
}

.sec-11 .members .member a img {
  width: 18px;
  height: 18px;
}

.sec-12 {
  color: white;
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/w_auto,f_auto,q_auto/v1598163494/OLLORUN_IMAGES/images/img/BG/BG_02_ollorun_yxijgr.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  text-align: center;
}

.sec-12 .join-btn {
  background-color: #e52564;
  padding: 1rem 4rem;
  border-radius: 4px;
  color: white;
}

.sec-12 .join-btn:focus {
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #3120a9;
  padding: 2rem;
}

.footer p {
  color: white;
}

.footer p img {
  width: 24px;
  margin-right: 0.5rem !important;
}

.footer .footer-logo {
  text-align: center;
  width: 164px;
}

.footer ul {
  padding-left: 0 !important;
  color: white;
  list-style: none;
}

.footer ul li {
  margin-top: 1rem;
}

.footer ul li a {
  text-decoration: none;
  color: white;
}

.footer .footer-social {
  margin-top: 9rem;
}

.footer .footer-social a {
  margin: 0 0.3rem;
}

.footer .footer-social a img {
  width: 46px;
  height: 46px;
}

.sec-reward {
  text-align: center;
  margin-top: 5rem;
  position: relative;
}

.sec-reward h6 {
  color: #e52564;
  text-align: center;
  margin-bottom: 4rem !important;
}

.sec-reward h2 {
  font-size: 3rem;
  margin-left: 1rem;
  background: -webkit-linear-gradient(45deg, #e6cd6b 0%, #837241 88%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec-reward h2::after {
  content: "PGV";
  background-image: -webkit-linear-gradient(45deg, #3120a9 0%, #3120a9 88%) !important;
  vertical-align: top;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

.sec-reward .badge {
  width: 124px;
  margin-bottom: 1rem;
}

.sec-reward p {
  font-size: 14px;
}

.sec-reward .reward-image {
  -webkit-box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  border-radius: 1rem;
}

.sec-reward .reward-name {
  margin-top: 2rem;
}

.sec-reward .btns {
  bottom: 0;
  position: absolute;
}

.sec-change {
  margin-top: 2rem;
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/w_auto,f_auto,q_auto/v1598163489/OLLORUN_IMAGES/images/img/BG/BG_04_ollorun_reibrh.jpg) no-repeat;
  background-size: cover;
  padding: 4rem 0;
  background-position: bottom;
}

.sec-change h6 {
  color: #e52564;
  text-align: center;
}

.sec-change .sec-wealth .accent,
.sec-change .sec-health .accent {
  color: #e52564;
}

.sec-change .sec-wealth .select-btns,
.sec-change .sec-health .select-btns {
  text-align: center;
  margin-top: 1rem;
}

.sec-change .sec-wealth .select-btns a,
.sec-change .sec-health .select-btns a {
  background-color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  border-radius: 4px;
  padding: 1rem 4rem;
  width: 100% !important;
  text-decoration: none;
  color: #3120a9;
}

.sec-change .sec-wealth .select-btns a img,
.sec-change .sec-health .select-btns a img {
  margin-right: 1rem;
  width: 24px;
}

.sec-change .sec-health .select-btns a:hover {
  color: #e52564 !important;
  outline: none !important;
  border: 1px solid #e52564 !important;
  -webkit-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
  cursor: pointer;
}

.selected-btn-red {
  color: #e52564 !important;
  outline: none !important;
  border: 1px solid #e52564 !important;
  background-color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  border-radius: 4px;
  padding: 1.5rem 2rem;
  width: 100% !important;
  text-decoration: none;
  color: #3120a9;
}

.selected-btn-red img {
  margin-right: 1rem;
  width: 24px;
}

.sec-change .sec-health .h-image {
  width: 100% !important;
}

.sec-change .sec-health a {
  padding: 1rem 2rem !important;
}

.sec-change .sec-health .pack-details a {
  background: linear-gradient(95deg, #3ffcdc 0%, #2d95f7 88%);
}

.sec-change .selected-pack img {
  width: 12rem;
}

.sec-change .selected-pack a {
  background: -webkit-linear-gradient(45deg, #e6cd6b 0%, #837241 88%);
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  border-radius: 4px;
  padding: 1rem 4rem;
  text-align: center;
  width: 100% !important;
  text-decoration: none;
  color: white;
}

.sec-change .selected-pack a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (min-width: 992px) {
  .sec-1 {
    height: 100vh;
  }
  .sec-9 {
    text-align: left;
  }
  .pentagon {
    margin-right: 5rem;
  }
  .lg-only {
    display: block !important;
  }
  .mobile-only {
    display: none !important;
  }
  .sec-change {
    margin-top: 4rem !important;
  }
  .sec-4 img {
    width: 75%;
    margin-left: 3rem !important;
  }
  .sec-2-img-1 {
    background-position-y: -450px !important;
  }
  .products-header {
    margin-top: 80px;
  }
}
/*# sourceMappingURL=style.css.map */